<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body>
<!--    <div><a href="">新建</a></div>-->
    <div><a href="/index/book/create"><button>新建</button></a></div>
    <div>图书内容如下：</div>
    <ul>
        {% for obj in book_objs %}
        <li>
            <!-- 注意 herf 的超链接，它是在这链接后加了数字，即 /obj.id -->
            <!-- <a href="{{ obj.id }}">{{ obj.btitle }}</a> -->
            <a href="/index/book/{{ obj.id }}">{{ obj.btitle }}</a>   <!--和上一行是一个意思-->
            --<a href="delete/{{obj.id}}">删除</a>
            <!-- "delete/{{obj.id}}" 在这相当于 "/index/book/delete/{{obj.id}}"-->
        </li>
        {% endfor %}
    </ul>
</body>
</html>