<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>booktest_模板文件</title>
</head>
<body>
    <div style='color:hotpink; width:300px; height:300px; background: yellow'>Hello world!</div>
    <div>
        <!-- 用双括号括起来，里面的名字就是view.py中传进来字典的key -->
        使用模板变量：{{ my_content }}
    </div>
    <div>一个传进来的列表：{{ my_list }}</div>
    <!-- 模板里面也可以循环 -->
    <ul>
        {% for i in my_list %}
        <!--  <li>i</li>  这么写时错误的，这就没有用到变量，就是字符串i  -->
        <li>{{ forloop.counter }}--{{ i }}</li>
        {% endfor %}
    </ul>
</body>
</html>